# Copy this file to deploy.env and fill in your values
# cp deploy.env.example deploy.env
#
# CLUSTER_HOST — получить после terraform apply:
#   cd infrastructure && terraform output ingress_nip_io

CLUSTER_HOST=<MASTER_IP>.nip.io

INGRESS_HTTP_PORT=32080
INGRESS_HTTPS_PORT=32443
