# Local .terraform directories and files
**/.terraform/*
.terraform*
.terraform/
.terraform.lock.hcl
!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars
terraform.tfvars
*.tfvars
*.tfvars.json
terraform.tfvars.example

# SSH-key
*.pem
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub

# temp
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# key
*.hcl